 * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

.dFlex {
    display: flex;
}

aside {
    background-image: url("./assets/images/sidebar-1.jpg");
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.772);
    height: auto;
    width: 15vw;
    padding: 30px;
    height: 200vh;
}

.flexDirection {
    flex-direction: column;
}

.gap {
    gap: 28px;
}

.gap1 {
    gap: 10px;
}

.imgBorder {
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.alignItems {
    align-items: center;
}

.border {
    border: 2px solid transparent;
    border-radius: 3px;
}


.border:hover {
    background-color: grey;
}

.textWhite {
    color: white;
}

.borderbottom {
    border-bottom: 2px solid white;
}

.black {
    color: black;
    margin-bottom: 20px;
}

.bgRed {
    background-color: red;
}

.radius {
    border-radius: 3px;
}

.jsContentSpace {
    justify-content: space-between;
}

.jsContentAround {
    justify-content: space-Around;
}

.radius10 {
    border-radius: 10px;
}

.flDirection {
    flex-direction: row;
}

.positionAb {
    position: absolute;
    right: 0;
}

header {
    width: 79vw;
}

.gap5 {
    gap: 5px;
}

.width {
    width: 75vw;
}

#Search {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: 1s ease-in-out;
}

#Search:focus {
    border-bottom: 1px solid red;
}

.focu {
    border-radius: 25px;
}

.border1 {
    border: 2px solid transparent;
    border-radius: 15px;
    transition: ease-in-out 1s;
}

.border1:hover {
    background-color: grey;
}

.bgWhite {
    background-color: white;
    color: black;
    transition: ease-in-out 1s;
    border-radius: 25px;
}

.bgWhite:hover {
    box-shadow: 1px 1px 1px 1px gray;
}

.margin {
    margin: 3px;
}

.Card {
    border: 2px solid transparent;
    background-color: white;
    border-radius: 5px;
    margin-left: 4%;
    padding: 30px;
}

.borderbottom1 {
    border-bottom: 1px solid black;
    gap: 40px;
    width: fit-content;
}

.padding {
    padding: 10px;
}

.fontS {
    font-size: small;
}

.marginL {
    margin-left: 30px;
}

.pos {
    position: absolute;
    top: 100%;
}

.pos1 {
    position: absolute;
    top: 14.5%;
    left: 23.5%;
    background-color: rgb(11, 143, 11);
    padding: 6px;
    border-radius: 2px;
    padding: 15px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 99, 0, 0.712);
}

.pos2 {
    position: absolute;
    top: 18%;
    left: 28.5%;
    font-size: 20px;
}

.paddingD {
    padding-bottom: 75px;
}

.paddingU {
    padding-top: 30px;
}

.marginL1 {
    margin-left: 3%;
}

.marginR {
    margin-right: 3%;
}

.width2 {
    width: 30vw;
}

hr {
    color: white;
}

.hr {
    width: 400px;
    left: 24%;
}

.hr1 {
    position: absolute;
    width: 400px;
    left: 63.1%;
}

.jsCLeft {
    justify-content: left;
}

.pos3 {
    position: absolute;
    top: 500px;
    left: 350px;
    background-color: orange;
    padding: 20px;
    border-radius: 3px;
}

.jsCRight {
    justify-content: right;
}

.textA {
    text-align: right;
}

.pos4 {
    position: absolute;
    top: 500px;
    left: 940px;
    background-color: darkred;
    padding: 20px;
    border-radius: 3px;
}

.pos5 {
    position: absolute;
    top: 650px;
    left: 350px;
    background-color: green;
    padding: 20px;
    border-radius: 3px;
}

.pos6 {
    position: absolute;
    top: 650px;
    left: 940px;
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 3px;
}


.rr2 {
    position: absolute;
    width: 400px;
    left: 63.1%;
}

.width3 {
    width: 24vw;
}

.jsCC {
    justify-content: center;
}

.pos7h1 {
    position: absolute;
    top: 1100px;
    left: 400px;
}
.right {
    position: absolute;
    right: 322px;
}

.pos7h11 {
    position: absolute;
    top: 1100px;
    left: 830px;
}

.pos7h111 {
    position: absolute;
    top: 1100px;
    left: 1210px;
}

.Card1 {
    border: 2px solid transparent;
    background-color: white;
    border-radius: 5px;
    margin-left: 4%;
    padding: 30px;
    height: 350px;
}

.posP {
    position: relative;
    top: 30px;
}

.posp2 {
    position: relative;
    top: 175px;
}

.marginT {
    margin-top: 100px;
} 

.W {
    width: 100vw;
} 

.pos7 {
    left: 400px;
    position: absolute;
    top: 950px;
    transition: 1s ease-in-out;
}
.pos7:hover {
    top: 910px;
}

.pos8 {
    position: relative;
    top: -50px;
    left: 40px;
    transition: 5s ease-in-out;
}
.pos8:hover {
    top: -910px;
}

.pos9 {
    position: relative;
    top: -50px;
    transition: 5s ease-in-out;
    left: 40px;
}
.pos9:hover {
    top: -910px;
}