img{
    background-image:url(./img/raining.jpg) ;
 }
 .nav1{
    color: blue;
    border-radius: 20px;
    padding: 3%;
    text-align: center;
    margin: 2% 10%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 36%, rgba(253,45,241,1) 95%);
    margin: 3% 10%;
   
 }
 ul{
    text-decoration: none;
    list-style: none;
    margin: 20px;
 }
    
 .main1{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 36%, rgba(253,45,241,1) 95%);
    margin: 3% 10%;
   
 }
 .img1{
    display: block;
    margin-left: auto;
 }
 .img2{
    margin: auto;
    width:50%;
 }